@CHARSET "UTF-8";
body{position:relative;}
.codeBg{width:100%;padding-top:110px;}
.codeBg .imgBg{width:100%;}
.code .codeJB{margin-top:-3px}
.code{padding-bottom:40px;margin-top:30px;}
.code .codeCtn{width:1100px;}
.code .codeCtn .codeHead{margin-bottom:5px;}
.code .codeCtn .record{margin-top:15px}
.code .codeCtn .record img{margin-top:-10px}
.code .codeCtn .nav li{margin:0;}
.code .codeCtn .nav li a{border-radius:0px;border:1px solid #ccc;color:#333;font-size:16px;padding:5px 20px;}
.code .codeCtn .nav li.active a{background:#fd4746;border-color:#fd4746;color:#fff;}
.code .codeCtn .codeCtnCom{padding:20px 20px 0px;border:1px solid #ccc;}
.code .codeCtn .codeCtnCom h5{border-bottom:1px solid #ccc;font-size:16px;padding-bottom:10px}
.code .codeCtn .codeCtnCom h5 img{margin-top:-2px;margin-right:4px;margin-left:4px}
.code .codeCtn .codeCtnCom h5 span{font-size:14px;}
.code .codeCtn .codeCtnCom h5 .sort{padding:0px 4px;border:1px solid #ccc;color:#fd4746;cursor:pointer;}
.code .codeCtn .codeCtnCom .table{border:1px solid #ccc;margin-bottom:40px}
.code .codeCtn .codeCtnCom .table tbody tr:nth-of-type(2n){background:#f7f8fc}
.code .codeCtn .codeCtnCom .table th{text-align:center;border-bottom:none;color:#f97218;font-weight:400;font-size:16px;background:#f7f8fc}
.code .codeCtn .codeCtnCom .table tbody tr{border-top:1px solid #ccc;}
.code .codeCtn .codeCtnCom .table tbody tr td:nth-of-type(2),td:nth-of-type(5){color:#f97218;}
.code .codeCtn .codeCtnCom .table .codeJoin img{position:relative;margin-top:-10px;top:5px;}

.code .codeAside .dot{font-weight:900;margin-right:5px;color:#aeaeae;}

.code .codeAside{margin-left:15px;width:275px;background:#fff}
.code .codeAside .user{border:1px solid #ccc;background:#f7f8fc}
.code .codeAside .userCtn{padding:25px 0 15px 15px;border-bottom:1px dashed #ccc}
.code .codeAside .user .headImg{margin-top:-5px}
.code .codeAside .user .userMsg{margin-left:15px;}
.code .codeAside .user .userMsg h3{margin:0px;font-size:16px;margin-bottom:5px;}
.code .codeAside .user .userMsg p{margin-bottom:5px;}
.code .codeAside .userInfo{padding:10px 0 0 15px;}
.code .codeAside .userInfo .dot{font-size:16px;margin-top:-10px;}
.qqGroup{margin-top:20px;cursor:pointer;}
.qqGroup .img{width:100%;}
.code .codeAside .codeRank{margin-top:0px;}
.code .codeAside .codeRank h4{background:#ef4746;margin:0;padding:10px;font-size:16px;color:#fff;position:relative;}
.code .codeAside .codeRank h4 img{margin-right:5px;margin-top:-5px}
.code .codeAside .codeRank h4 span{border:1px solid #fff;font-size:12px;padding:2px 5px;background:#ef4746;color:#fff;cursor:pointer;}
.code .codeAside .codeRank h4 span.active{background:#fff;color:#333;}
.code .codeAside .codeRank h4 .today{margin-left:20px}
.codeAside .codeRank h4 .bjz{margin-left:10px;margin-top:-1px;cursor:pointer;}
.codeAside .codeRank h4 .bjz:hover~.helpMsg{display:block;}
.codeAside .codeRank h4 .helpMsg{font-size:12px;position:absolute;width:270px;right:3px;border:1px solid #CCC;background:#fff;padding:5px 10px;top:49px;display:none;z-index:10}
.codeAside .codeRank h4 .helpMsg p{margin-bottom:3px;line-height:25px;color:#333}
.code .codeAside .codeRank .table.first{display:table;}
.code .codeAside .codeRank .table{border:1px solid #ccc;margin:0;}
.code .codeAside .codeRank .table th{text-align:center;border-bottom:none;font-weight:400;}
.code .codeAside .codeRank .table tbody tr:nth-of-type(2n){background:#f7f8fc}
.code .codeAside .codeRank .table tbody tr td:nth-of-type(1){width:46px;}
.code .codeAside .codeRank .table tbody tr td:nth-of-type(3),td:nth-of-type(4){color:#fc5715;}
.code .codeAside .codeRank .table tbody tr:nth-of-type(1){color:#f32b2e;}
.code .codeAside .codeRank .table tbody tr:nth-of-type(2){color:#2B9EF3;}
.code .codeAside .codeRank .table tbody tr:nth-of-type(3){color:#e8960f;}
.code .codeAside .codeRank .table tr:nth-of-type(1) td:nth-of-type(1) span{background:#ff4802;color:#fff;padding:0px 6px;border-radius:50%;}
.code .codeAside .codeRank .table tr:nth-of-type(2) td:nth-of-type(1) span{background:#fd6a34;color:#fff;padding:0px 6px;border-radius:50%;}
.code .codeAside .codeRank .table tr:nth-of-type(3) td:nth-of-type(1) span{background:#ff9267;color:#fff;padding:0px 6px;border-radius:50%;}
.code .codeAside .codeRank .table tbody{display:none;}
.code .codeAside .codeRank .table tbody.tableShow{display:table-row-group;}
.table>tbody+tbody{border:none;}

.codeAside .codeRank .item.first{display:block;}
.codeAside .codeRank .item{display:none;}
.codeAside .codeRank .page{padding:10px 0 10px 40px;border-left:1px solid #ccc;border-right:1px solid #ccc;border-bottom:1px dashed #ccc;}
.codeAside .codeRank .page .search{padding:0 2px;background:#ff4900;color:#fff;}
.codeAside .codeRank .page div{cursor:pointer;float:right;margin-right:10px}    
.codeAside .codeRank .page div a{color:white;padding:2px 4px;background:red;margin-left:5px;border-radius:6px}
.code .codeAside .codeRank .codeIncome{line-height:40px;border:1px solid #ccc;border-top:none;text-align:center;}
.code .codeAside .MQCommon li{padding-left:10px;line-height:25px;width:248px;white-space:nowrap;text-overflow:ellipsis;overflow:hidden;}
.code .codeAside .MQCommon li a{color:#333;}
.code .codeAside .MQCommon .dot{color:#333;}
.code .codeAside .MQCommon h4{background:#ef4746;margin:0;padding:10px;font-size:16px;color:#fff;}
.code .codeAside .MQCommon h4 img{margin-right:8px;margin-top:-2px}
.code .codeAside .MQCommon h4 a{font-size:12px;color:#fff;margin-top:7px}
.code .codeAside .MQCommon .MQCommonCtn{border:1px solid #ccc;padding:10px 0;}

.code .drawCode{width:90%;margin-bottom:50px;}
.code .drawCode .drawCodeHead{background:#fd4746;color:#fff;padding:10px 0 10px 20px;font-size:18px;margin:0;}
.code .drawCode .drawCodeHead img{margin-top:-4px;margin-right:5px}
.code .drawCode .drawCodeHead a{font-size:12px;color:#fff;margin-top:6px;margin-right:15px}
.code .drawCode .drawCodeMsg{padding:20px 20px 10px 20px;border-bottom:1px solid #ccc;}
.code .drawCode .drawCodeCtn{border:1px solid #ccc;}
.code .drawCode .drawCodeCtn .one img{width:15px;margin-top:-3px}
.code .drawCode .drawCodeCtn .two{margin-left:35px}
.code .drawCode .drawCodeCtn .three{margin-left:70px;width:115px;}
.code .drawCode .drawCodeCtn .three p{line-height:34px;background:#fd4746;}
.code .drawCode .drawCodeCtn .three p.lqgh{background:#ef4746;}
.code .drawCode .drawCodeCtn .three p img{margin:0 10px;}
.code .drawCode .drawCodeCtn .three p a{color:#fff;}
.code .drawCode .drawCodeCtn .four{margin-left:40px;}
.code .drawCode .drawCodeCtn .four img{margin-top:-2px;}
.code .drawCode .drawCodeMain{padding:0 20px 40px 20px;}
.code .drawCode .drawCodeMain .DCMcommon{margin-top:40px}
.code .drawCode .drawCodeMain .DCMcommon h3{font-size:18px;border-bottom:1px solid #ccc;padding-bottom:10px;margin-bottom:15px}
.code .drawCode .drawCodeMain .DCMcommon h3 .icon{margin-top:-12px;margin-right:5px}
.code .drawCode .drawCodeMain .DCMcommon h3 span{font-size:14px}
.code .drawCode .drawCodeMain .DCMcommon h3 span img{margin-top:-3px;margin-right:3px}
.code .drawCode .drawCodeMain .wage h3 a{color:#666;font-size:14px;margin-top:4px;} 
.code .drawCode .drawCodeMain .wage .table tbody tr td:nth-of-type(3){color:#fc7313;}
.code .drawCode .drawCodeMain .wage p{text-align:right}
.code .drawCode .drawCodeMain .DCMcommon .comCtn{padding:20px 35px 10px 35px;border:1px solid #ccc;background:#f7f8fc}


.codeDialog{position:absolute;width:100%;height:100%;left:0;top:0;z-index:100;}
.codeDialog .codeShade{position:absolute;background:rgba(0,0,0,0);width:100%;height:100%;}
.codeDialog .codeShade.active{background:rgba(0,0,0,.3);transition:1s;-webkit-transition:.5s;}
.codeDialog .codeShade .dialogCtn{width:600px;margin-left:-300px;left:50%;position:fixed;top:25%;transform:scale(0) rotate(0);}
.codeDialog .codeShade .dialogCtn.active{transition:1s;transform:scale(1) rotate(360deg);}
.codeDialog .codeShade .dialogCtn img{width:600px;}
.codeDialog .codeShade .dialogCtn .dialogTxt{position:absolute;left:0;top:0;width:100%;color:#fff;padding-top:120px}
.codeDialog .codeShade .dialogCtn .dialogTxt h3{font-weight:800}
.codeDialog .codeShade .dialogCtn .dialogTxt h4{font-weight:600;margin-bottom:30px}
.codeDialog .codeShade .dialogCtn .dialogTxt p span{font-weight:600;border-radius:10px;background:#c7385f;padding:2px 20px;font-size:16px;}
.codeDialog .codeShade .dialogCtn .dialogTxt ul{margin-top:20px;}
.codeDialog .codeShade .dialogCtn .dialogTxt ul li{display:inline-block;width:40px;font-size:16px;font-weight:600;border-radius:50%;background:#c7385f;padding:12px;box-sizing:content-box;}
.codeDialog .codeShade .dialogCtn .dialogTxt .go{margin-top:30px;}
.codeDialog .codeShade .dialogCtn .dialogTxt .go a{background:#fff;border-radius:5px;color:#fe678c;padding:5px 20px;font-weight:700}
.codeDialog .codeShade .dialogCtn .dialogTxt .close{cursor:pointer;width:50px;height:50px;position:absolute;right:17%;top:-2%;}

.cWidth{width:44px;display:block;}

.codeTool .tool{margin-bottom:50px}
.codeTool .tool .text{text-indent:20px;line-height:25px}
.codeTool .tool .notice{color:#FD4746;font-size:13px;margin-top:30px;}
.codeTool .tool a img{margin:8px 0 0 30px;}
.codeTool .tips{margin-bottom:100px;}
.codeTool .tips h3{font-size:16px;}
.codeTool .tips p{line-height:25px}
.codeTool .tips p span{display:inline-block;width:100px;height:50px;float:left;}

.codeCourse{}
.codeCourse .step{background:#f6f6f6;padding:8px 20px 3px;}
.codeCourse .step .stepCom{margin-right:20px}
.codeCourse .step .right{margin-right:20px;margin-top:15px}
.codeCourse .step .stepCom img{margin-right:5px;margin-top:2px;}
.codeCourse .step .stepCom h5{margin:5px 0 0 0;border-bottom:none;font-size:13px;padding-bottom:5px}
.codeCourse .step .stepCom p{font-size:14px}
.codeCourse .step .cash{margin-top:5px}
.codeCourse .step .cash img{width:15px;margin-top:-3px}

.codeCourse .shadow{box-shadow:1px 2px 1px #ccc}
.codeCourse .shadow img{width:100%;}
.codeCourse .mg20{margin:20px 0;}

.stepCommon{display:none;padding-bottom:50px}
.stepOne{display:block}
.stepCommon h3{background:#f96501;color:#fff;font-size:18px;padding:10px 20px 10px;}
.stepCommon h4{font-size:18px;margin:25px 0;padding-left:20px}
.stepCommon h4 .num{padding:0px 7px;background:#f96503;color:#fff;border-radius:50%;margin-right:10px;}
.stepCommon h4 .orange{font-size:12px}
.stepCommon .notice{margin-left:30px}
.stepCommon .notice p{font-size:12px}
.stepCommon .text-center p{margin-bottom:20px}

.stepOne .twoNotice p:nth-of-type(n+2){text-indent:20px;}
.stepOne .twoText{line-height:20px;font-size:12px;left:280px;position:relative;width:420px;background:#f6f6f6;padding:10px;margin-bottom:50px;border-radius:10px;color:#f96501;}
.stepOne .twoText .white{position:absolute;right:-33px;top:53px;background:#fff;width:30px;height:30px;}
.stepOne .twoImg{margin-top:-70px}
.stepOne .text-center{margin-top:30px}
.stepTwo .text-center p{margin-top:80px}
.stepTwo h3{background:#fd4746}
.stepTwo h4 .num{background:#fd4746}
.stepThree h3{background:#4cb6ac}
.stepThree h4 .num{background:#4cb6ac}
.stepThree .state{padding:10px 15px;background:#f8f8f8}
.stepThree .state h6{color:#4cb6ac;font-size:15px;margin:0;}
.stepThree .state p{text-indent:20px;line-height:22px;margin:5px 0 0 0;font-size:14px}
.stepThree .notice p{color:#4cb6ac;font-size:14px}
.stepThree .text-center p{margin-top:80px}
.stepThree .text-center a{text-decoration:none}