.banner{position:relative;width:100%;}
.banner .register{z-index:888;position:absolute;top:60px;right:0%;background:rgba(255,255,255,.5);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#7Fffffff,endColorstr=#7Fffffff);width:320px;border-radius:4px}
.banner .register .registerCtn .nologin{background:rgba(255,255,255,.8);height:240px;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#C8ffffff,endColorstr=#C8ffffff);padding:15px 20px;border-radius:4px;color:#333}
.banner .register .registerCtn .nologin p{border-bottom:1px solid #ff4900;padding-bottom:10px;}
.banner .register .registerCtn .nologin p:nth-of-type(n+2){border-bottom:1px solid #ccc;}
.banner .register .registerCtn .nologin p img{margin-left:10px}
.banner .register .registerCtn .nologin input{border:none;outline:none;padding-left:5px;margin-left:5px}
.banner .register .registerCtn .nologin button{background:#ff4900;border:1px solid #ff4900;letter-spacing:20px;padding-left:30px;margin-top:15px}
.banner .register .registerCtn .nologin p a{color:#333;}
.banner .register .registerCtn .nologin p input{color:#333;height:22px;width:180px}
.banner .register .registerCtn .nologin p span{display:inline-block;width:60px;text-align:right}
.banner .register .registerCtn .nologin p.dl{border:none;}
.banner .register .registerCtn .nologin p.dl a{margin-top:5px}
.banner .register .registerCtn .nologin p.yz input{width:70px;}
.banner .user{position:relative;background:rgba(255,255,255,.8);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#C8ffffff,endColorstr=#C8ffffff);padding:15px 15px 15px 22px;display:none;border-radius:4px}
.banner .user .userMsg .username{margin-top:5px;margin-bottom:7px;font-size:16px}
.banner .user .userMsg .img{margin-right:10px}
.banner .user .userMsg .msg .cash{margin-left:30px;}
.banner .user .button a{border:1px solid #fd3d3d;border-radius:4px;padding:1px 3px;color:#333;}
.banner .user .button a img{margin-top:-2px;margin-right:3px}
.banner .user .userMsg{margin-bottom:15px}
/*.banner .register{background:rgba(255,255,255,.6);padding:20px;border-radius:4px}*/
.banner .register .oldPlay .tip{position:absolute;left:10px;top:10px;}
.banner .register .oldPlay{background:#fff;padding:10px;border-radius:0 0 4px 4px;position:relative;padding-left:40px}
.banner .register .oldPlay img{margin-right:3px}
.banner .register .oldPlay p{margin-bottom:4px;font-size:13px}
.banner .register .oldPlay p:last-of-type{margin-bottom:0}
.banner .register .oldPlay p .gameName{display:inline-block;margin-left:10px;width:160px;position:relative;top:3px}
.banner .user .onOff{position:absolute;top:0px;right:0px;background:url(../img/user7.png) no-repeat;width:50px;height:50px;padding:6px 0 0 30px;}
.banner .user .onOff img{cursor:pointer;}
.banner .user .user-btn{text-align:center;margin-top:10px;margin-bottom:20px}
.banner .user p .orange{display:inline-block;width:140px}
.banner .user .user-btn a{background:red;padding:5px 15px;color:#fff;border-radius:4px;font-size:16px;}
.banner .user .user-btn .center{background:#FF5454;border-bottom:1px solid #DE503D;margin-left:10px}
.banner .user .user-btn .shop{background:#26af60;border-bottom:1px solid #229752;margin-left:20px}
.banner .bannerImg{width:100%;height:350px;}
.banner .bannerImg li img{height:100%;}
.banner .bannerIcon{position:absolute;bottom:3%;width:100%}
.banner .bannerIcon li{display:inline-block;width:75px;height:6px;border-radius:6px;background:#fff;border:1px solid #ccc;margin:0 0px;cursor:pointer;}
.banner .bannerIcon li.active{background:#ff7520;border:1px solid #ff7520;}

.banner .bannerImg li{background:url(../img/slider/jjw2.jpg) no-repeat top center;display:none;position:absolute;left:0;width:100%;overflow:hidden;height:100%;}
/*.banner .bannerImg li.two{background:url(../img/slider/newer.jpg) no-repeat top center;}
.banner .bannerImg li.three{background:url(../img/slider/code.jpg) no-repeat top center;}
.banner .bannerImg li.four{background:url(../img/slider/redpacket.jpg) no-repeat top center;}*/
.banner .bannerImg li.active{display:block;}
.banner .bannerImg li a{display:block;height:100%;}

.statistics li{float:left;width:210px;color:#fff;height:88px;padding:20px 0 0 20px;font-size:16px;margin-right:37px;overflow:hidden;}
.statistics li.five{margin-right:0}
.statistics li .img{width:60px;height:46px;overflow:hidden;}
.statistics li .text span{font-size:18px}
.statistics li .text p{margin-bottom:5px;text-align:center}
.statistics li .text p small{font-size:12px}
.statistics li.one{background:url("../img/index1-2.png") no-repeat;background-size:contain}
.statistics li.two{background:url("../img/index1-4.png") no-repeat;background-size:contain}
.statistics li.three{background:url("../img/index1-6.png") no-repeat;background-size:contain}
.statistics li.four{background:url("../img/index1-8.png") no-repeat;background-size:contain}
.statistics li.five{background:url("../img/index1-10.png") no-repeat;background-size:contain}
.statistics li .item{overflow:hidden}
.statistics li .item_hide{margin-top:20px}
.statistics li .li_wrap{margin-top:0px;transition:.3s;}
.statistics li:hover .li_wrap{margin-top:-74px;transition:.3s;}

.tryStep{line-height:70px;border:1px solid #ccc;font-size:16px;background:#fffcfb}
.tryStep p{float:left;margin-bottom:0;width:210px;margin-left:10px}
.tryStep p .next{width:21px;margin-left:30px;margin-top:-3px}
.tryStep p img{margin-right:15px}
.tryStep .tip{background:#e34218;color:#fff;position:relative;width:210px;margin-right:50px}
.tryStep .tip:after{content:'';width:0;height:0;position:absolute;right:-24px;border:12px solid transparent;border-left-color:#e34218;top:20px;}
.tryStep .dh{color:#e34218;border-left:1px solid #ccc;padding:0px 20px;text-align:center;width:240px}
.tryStep .dh img{margin-right:10px;}

.prefectureCom{width:900px;background:#f4f5f9;padding:0px 10px 0px 20px;overflow:hidden}
.prefectureCom h3{color:#576077;font-size:22px}
.prefectureCom h3 .nav{margin-left:50px}
.prefectureCom h3 .nav li a{background:transparent;border:2px solid transparent;color:#333;font-size:16px;border-radius:0;padding:4px 12px;} 
.prefectureCom h3 .nav li.active a{background:#fff;border:2px solid #fc2433;color:#fc2433;border-radius:0;}
.prefectureCom h3 .more {margin-right:15px}
.prefectureCom h3 .more a{font-size:14px;color:#999;}
.prefectureCom h3 .title img{margin-top:-12px;margin-right:15px}
.prefectureCom .tab-pane {width:100%;}
.prefectureCom .item{float:left;margin-left:30px;width:240px;}
.prefectureCom .item .img .itemImg{width:100%;}
.prefectureCom .item:nth-of-type(3n){margin-bottom:15px}
.prefectureCom .item .img{position:relative;}
.prefectureCom .item .img p{background:rgba(0,0,0,.5);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#7Fffffff,endColorstr=#7Fffffff);position:absolute;bottom:-10px;letter-spacing:1px;width:100%;color:#fff;padding:3px 0;font-size:12px;padding-left:10px}
.prefectureCom .item>p span{color:#fc2433;}
.prefectureCom .item>p{margin-bottom:3px;margin-top:2px;letter-spacing:1px;}
.prefectureCom .item>p a{color:#333}
.play .img .gameTip{position:absolute;top:-1px;right:4%;z-index:100;}
.play .img:hover p{display:none;}
.prefectureCom .img{overflow:hidden}
.prefectureCom .img .shadow{position:absolute;width:100%;height:100%;background:rgba(0,0,0,.3);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#7Fffffff,endColorstr=#7Fffffff);color:#fff;bottom:-100%;text-align:center}
.prefectureCom .img .shadow .shadowBtn{background:#ff4900;color:#fff;width:140px;line-height:35px;margin:60px 0 0 38px;border-radius:4px;}
.prefectureCom .img .shadow .shadowBtn a {color:white}
.prefectureCom .img .shadow span{font-size:13px}
.prefectureCom .img:hover .shadow{bottom:0;transition:.7s;}
.gameplay .img .shadow .shadowBtn{background:#07AB07;}
.prefectureComImg {margin-right: 20px;transition: .6s;}
.cash h3 .font{margin-left:20px}
.cash .cashCtn{margin-top:20px}
.cash .hot{width:150px;}
.cash .hot img{width:100%;}
.cash .hot .hotTip{position:relative;line-height:30px;background:#fc4c00;color:#fff;padding:0 10px;top:-30px;}
.cash .cashItems{width:700px;}
.cash .cashItem{float:left;width:155px;margin-right:20px;margin-bottom:15px}
.cash .cashItem>img{width:100%;margin-bottom:10px;height:114px;}
.cash .cashItem>p{margin-bottom:3px;}
.cash .cashItem>p .red{color:#F94C00;}
.cash .cashItem>div{color:#999;font-size:13px}
.cash .cashItem>div span{color:#fff;padding:3px 6px;background:#f94c00;border:1px solid #f8b195;margin-top:-7px}

.aside{width:280px;margin-left:20px}
.aside .serve img{width:100%;}
.aside .common h4{border:1px solid #ccc;padding:10px;font-size:16px;margin-bottom:0;position:relative;margin-top:0}
.aside .common h4 img{margin-right:10px;margin-top:-5px}
.aside .common h4 a{color:#999;margin-left:110px;font-size:14px;position:relative;top:3px;}
.aside .common h4:after{position:absolute;content:'';width:65px;height:2px;background:#FD2432;bottom:-1px;left:-1px;}
.aside .common select{font-size:14px;margin-left:60px;}
.aside .weekRank .table th{color:#333;font-size:14px;}
.aside .weekRank h4{border-bottom:none;}
.aside .weekRank .table{margin:0;}
.aside .weekRank .table tbody tr:nth-of-type(1) td:nth-of-type(1) span{padding:0px 6px;border-radius:50%;background:#f50012;color:#fff;} 
.aside .weekRank .table tbody tr:nth-of-type(2) td:nth-of-type(1) span{padding:0px 6px;border-radius:50%;background:#fc333d;color:#fff;} 
.aside .weekRank .table tbody tr:nth-of-type(3) td:nth-of-type(1) span{padding:0px 6px;border-radius:50%;background:#ff6666;color:#fff;} 
.aside .weekRank .page{text-align:center;border:1px solid #ccc;border-top:none;padding:15px 0}
.aside .weekRank .page span{color:#ccc;border:1px solid #ccc;margin:0 20px;padding:0px 5px;cursor:pointer;}
.aside .weekRank .rankCom{display:none;}
.aside .weekRank .gameRank{display:block;}
.aside .notice{border:1px solid #ccc;}
.aside .notice h4{border:none;border-bottom: 1px solid #ccc}
.aside .notice p{margin-bottom:0;line-height:30px;width:265px;}
.aside .notice p span{font-size:18px;font-weight:600;margin:0 0px 0 8px;}

.aside .dynamic{border:1px solid #ccc;}
.aside .dynamic h4{border:none;border-bottom: 1px solid #ccc}
.aside .dynamic ul{color:#777;}
.aside .dynamic ul li{margin-top:10px;margin-bottom:20px}
.aside .dynamic ul li .img{margin-left:25px}
.aside .dynamic ul li .ctn{margin-left:15px;margin-top:10px}
.aside .dynamic ul li .img img{width:60px;margin-top:3px}
.aside .dynamic ul li .username{margin-bottom:5px;width:150px;}
.aside .dynamic .dynamicCtn{overflow:hidden;height:450px;position:relative;}
.aside .dynamic .dynamicCtn ul{position:absolute;top:0;left:0;}

.cooperate{background:#f4f5f9;padding:10px 24px;}
.cooperate .moreItem{display:none;overflow:hidden}
.cooperate .moreItem.active{display:block;}
.cooperate h3{color:#586077;margin-bottom:20px;font-size:22px}
.cooperate h3 a{font-size:14px;color:#999;margin-top:14px;margin-right:20px}
.cooperate h3 img{margin-top:-12px;margin-right:15px}
.cooperate h3 .more{margin-top:-2px;margin-left:5px}
.cooperate li{width:135px;height:60px;background:#fff;float:left;margin-left:25px;margin-bottom:20px}
.cooperate li img{width:100%;height:100%;transition:.8s;}
.cooperate li img:hover{transition:.6s;transform:scale(1.1);}
.link{margin-bottom:50px}
.link p{padding-left:30px}
.link p a{color:#666;}
.link p a:hover{color:#F44336;}
.link p span{color:#ccc;}

.blogroll{margin-top:30px}
.blogroll h4{border-bottom:1px solid #ccc;margin:0;padding:15px 0;}
.blogroll ul{overflow:hidden;margin:20px 0 40px 0}
.blogroll ul li{width:12.5%;float:left;line-height:30px;text-indent:10px}
.blogroll ul li a{color:#9c9c9c;}
.blogroll ul li a:hover{color:red;}

.main{border-bottom:2px solid #ccc;}

@media (max-width:960px){
	.navbar-header{float:left;}
	.navbar .container{width:auto;}
}

.box{ width:980px; margin:0 auto;}
.bcon{ width:270px; border:1px solid #eee; margin:30px auto;}
.bcon h1{ border-bottom:1px solid #eee; padding:0 10px;}
.bcon h1 b{ font:bold 14px/40px 'ו'; border-top:2px solid #3492D1; padding:0 8px; margin-top:-1px; display:inline-block;}

.list_lh{ height:300px; overflow:hidden;}
.list_lh li{ padding:10px;}
.list_lh li.lieven{ background:#F0F2F3;}
.list_lh li p{ height:24px; line-height:24px;}
.list_lh li p a{ float:left;}
.list_lh li p em{ width:80px; font:normal 12px/24px Arial; color:#FF3300; float:right; display:inline-block;}
.list_lh li p span{ color:#999; float:right;}
.list_lh li p a.btn_lh{ background:#28BD19; height:17px; line-height:17px; color:#fff; padding:0 5px; margin-top:4px; display:inline-block; float:right;}
.btn_lh:hover{ color:#fff; text-decoration:none;}

.btm p{ font:normal 12px/24px 'Microsoft YaHei'; text-align:center;}