@CHARSET "UTF-8";

/** {outline: 2px dotted red}* * {outline: 2px dotted green}* * * {outline: 2px dotted orange}* * * * {outline: 2px dotted blue}* * * * * {outline: 1px solid red}* * * * * * {outline: 1px solid green}* * * * * * * {outline: 1px solid orange}* * * * * * * * {outline: 1px solid blue}*/
/*黑色文字:#606060橙色文字:#FA2A01*/
/*重置CSS样式*/
EMBED{ display:none}li{ vertical-align:bottom}
body{ font-size:12px; background:#eee; color:#606060}table {border-collapse:collapse;border-spacing:0} fieldset,img {border:0}
ol,ul {list-style:none}
h1,h2,h3 {font-size:100%;font-weight:normal} q:before,q:after {content:''} abbr,acronym { border:0} 
.hidden{ display:none}
.clearfix:after {visibility: hidden;display: block;font-size: 0;content: " ";clear: both;height: 0;}
.clearfix{*zoom:1;}.clear{ clear:both}
a{ text-decoration:none}
a:hover{ text-decoration:underline}
.w950{ width:950px; margin:0 auto}
.w990{ width:990px; margin:0 auto}
.w700{ width:950px; float:left;}
.rw700{ width:700px; float:right}
.w235{ width:235px; float:right}
.lw235{ width:235px; float:left}
.left{ float:left}
.right{ float:right}
.m10{ margin:10px}.p10{ padding:10px}
.mtop {margin-top:10px;}
/*hd*/
.hd{ background:#Fff; margin-bottom:15px;}
.top_bar{ width:950px; height:1px; margin:0 auto; position:relative}
.top_bar .bar{ float:right; background:url(../img/top_bar_bg2.png) right bottom no-repeat; height:25px; padding-right:10px; position:absolute; right:0}
.top_bar ul.b1{ text-align:right; background:url(../img/top_bar_bg2.png) left; float:left; padding-left:10px; height:22px; padding-top:3px}
.top_bar ul.b1 li{ float:left; background: url(../img/line_2.png) left center no-repeat;height:17px; line-height:17px; width:60px; padding:0 5px}
.top_bar ul.b1 li.user{ background: url(../img/myzh.png) center center no-repeat; height:17px; width:55px; padding-left:20px}
.top_bar ul.b1 li.user a{ color:#FFF}
.top_bar a{ color:#606060; text-align:center; display:block}
.top_bar a:hover{ text-decoration:none; color:#FA2A01
}
.top_bar2{ float:right; padding-top:40px}
.top_bar2 li{ float:left; margin-left:10px; line-height:40px}
.top_bar2 li.msg{ background:url(../img/new.gif) left 5px no-repeat; padding-left:20px}
.top_bar2 li.msg em{ padding-right:20px; background:url(../img/mail.png) right center no-repeat}
.top_bar2 a{ color:#606060;}
.top_bar2 a:hover{ color:#FA2A01}
.top_bar2 em{color:#FA2A01; font-style:normal; font-weight: bold}

.listbox,.listbox2,.listbox3{ background:url(../img/listbox.png) bottom left no-repeat; margin-bottom:10px}
.listbox .title{ background:url(../img/listbox.png) top left no-repeat; height:35px; line-height:33px; padding:0 10px 0 20px}
.listbox .title h3{ float:left; font-size:14px; font-weight:bold; color:#606060}
.listbox .title span{ float:right; margin-top:15px}
.listbox .ul1{ line-height:20px; padding:5px 15px}
.listbox .ul1 li{ background:url(../img/ul1_ico.png) left center no-repeat; padding-left:10px}
.listbox .ul1 a{ color:#606060;overflow:hidden;text-overflow:ellipsis; -o-text-overflow:ellipsis;white-space:nowrap; display:block;-moz-binding:url('../mozilla/ellipsis.xml#ellipsis'); line-height:20px; height:20px; width:195px}
.listbox2{ padding-bottom:10px}
.listbox2 .title{ background:url(../img/listbox2.png) top left no-repeat; height:31px; line-height:31px; padding:0 10px 0 20px}
.listbox2 .title h3{ float:left; font-size:14px; font-weight:bold; color:#606060}
.listbox2 .title span{ float:right; margin-top:13px}
.listbox3 .topbg{ background:url(../img/listbox3.png) top no-repeat; height:5px; font-size:0}
.listbox3 .title h3{ font-size:12px;color:#606060; background:url(../img/tylogin.png) no-repeat; margin:5px 10px; height:34px; line-height:34px; text-align:center}
.listbox3 .title a{ color:#FA2A01; margin:0 5px}
.listbox3 dt{ color:#FA2A01; font-weight:bold;padding-left:18px; line-height:20px;}
.listbox3 dl{ margin:0 20px; padding:5px 0}
.listbox3 .ad{ padding:12px; padding-top:7; text-align:center}
.tjty{ background:url(../img/line_1.png) bottom repeat-x}
.tjty dt{ background:url(../img/ico.gif) left 2px no-repeat;  }
.tysk dt{ background:url(../img/ico.gif) left -22px no-repeat;}
.tjty ul{ line-height:24px; padding:0px;margin:0}
.tjty ul li{ background:url(../img/ico.gif) -5px -39px no-repeat; padding-left:10px}
.tysk ul{ line-height:24px; height:115px; overflow:hidden; padding:5px 0 5px 10px}
.tysk ul a,.tjty ul a{ color:#606060}
.tysk ul a em{ font-style:normal; color:#FA2A01; display:inline}

.tysk ul em{ font-style:normal; color:#FA2A01; display:inline}
.fd{ border-top:4px solid #3e3e3e;width:950px; margin:0 auto; margin-top:15px; clear:both}
.fd .about{ height:35px; background:url(../img/about_bg.png) bottom repeat-x; text-align:center; line-height:31px;}
.fd .about a{ color:#606060; margin:0 10px}
.copyright{ text-align:center; line-height:20px; padding:10px 0}
/*全站通知*/
.notice{ height:27px; background:url(../img/notice_bg.png); margin: 0 auto; margin-bottom:10px; width:910px; padding-left:30px; padding-right:10px; padding-top:8px}
.scroll_notice{ float:left; width:430px; height:15px}
.scroll_notice ul.line{ overflow:hidden; height:15px}
.scroll_notice li{ height:15px; line-height:15px;}
.scroll_notice a{color:#FA2A01}
.google_ad{ height:15px; width:468px; float:right}
.h_title2{ height:30px; background:url(../img/h_title_bg.png); border-bottom:2px solid #C6161D; clear:both; padding:0 10px}
.h_title2 h2{ float:left; line-height:30px; font-size:14px; font-weight:bold; background:url(../img/ico.gif) left -58px no-repeat; padding-left:15px}
.h_title2 span{ float:right; margin-top:10px}
.h_title2 a{color:#606060}
.h_title{ height:50px; background:url(../img/h_title_bg.png); border-bottom:2px solid #C6161D; clear:both}
.h_title .two_nav{ padding-top:13px; padding-left:15px}
.h_title .two_nav a{ margin-right:5px; background:url(../img/two_li_bg.png); display:block; width:110px; height:37px; float:left; font-size:14px; font-weight:bold; color:#606060; text-align:center; line-height:37px}
.h_title .two_nav a:hover,.h_title .two_nav a.focus{background:url(../img/two_li_bg.png) right; color:#FFF; text-decoration:none}
.other{ position:relative; padding-right:15px; padding-top:15px}
#filter{ background:url(../img/filter_bg.png); height:22px; width:102px; line-height:24px; border:0 none; text-align:center; padding-right:23px; padding-left:20px ;cursor:pointer; color:#FA2A01}
#search-type-list{position:absolute; z-index:999; left:0px; top:35px;width:102px; padding:5px 0;display:none;background:url(../img/filter_ul_bg.png) bottom}
#search-type-list a,
#search-type-list a:visited{ display:block; height:22px; line-height:22px;text-decoration:none;color:#606060; text-align:center; padding-right:10px}
#search-type-list a:hover{text-decoration:none; color:#FA2A01; background:url(../img/right.gif) 80px center no-repeat;}
.w700box{ border:1px solid #D8D8D8; background:#f8f8f8; border-top:0 none; width:930px; overflow:hidden}/*实际宽度698*/
.w700box2{ border:1px solid #D8D8D8; background:#f8f8f8; margin-top:15px}
.w700box3{ border:1px solid #D8D8D8; background:#f8f8f8;}
.img_list_1{ padding:15px 0 17px 15px}
.img_list_1 li{ float:left; display:inline; margin:8px; display:inline}
.img_list_1 li a{ display:block; /*float:left;*/ width:120px; height:100px; border:1px solid #dfdfdf; padding:15px;position:relative}
.img_list_1 li a:hover{ text-decoration:none;border:1px solid #FA2A01}
.img_list_1 li div{ line-height:20px; padding-top:7px; text-align:center}
.img_list_1 li div .name{ color:#616161;  line-height:20px; height:20px; position:relative}
.img_list_1 li div .name img{ vertical-align:middle;float:left; position:absolute; left:0; top:0}
.img_list_1 li div .ms{ color:#E80101}
.img_list_1 li .logo{ height:60px; width:120px}
.step3{ height:57px; background:url(../img/step3.png) no-repeat; margin:10px; padding-top:5px}

.step3  table{ text-align:center}
.step4{ height:95px;background:url(../img/step4.png) no-repeat; margin:0 10px; padding-top:7px; padding-left:15px}
.step4 ul{ line-height:30px; background:url(../img/ico2.png) left center no-repeat; padding-left:25px;}
.step4 ul a{ color:#E80101}
.img_list_1 li .jian{ height:43px;  width:42px; background:url(../img/jian.gif) no-repeat; float:right; position: absolute; top:-1px; right:-1px}
.notice2{ height:25px; padding-top:12px; clear:both}
.notice2 li{ height:15px}
.notice2 a{ display:block; float:left; width:33%; color:#FA2A01}
.notice2 ul.line2{ height:15px; overflow:hidden; line-height:15px; padding:0 20px}
.page{ text-align:right; line-height:25px; height:25px}
.p24{ padding:24px}
.crumbs{ padding-top:20px; float:left; padding-left:30px}
.crumbs a{ margin:0 5px; color:#5f5f5f}
.search{ float:right; padding-top:15px; padding-right:30px}
.search div{ float:left; height:23px; background:url(../img/input_3.png); width:182px; padding:1px 10px; overflow:hidden}
.search div input{ height:23px; border:0 none; width:182px; line-height:25px;background:transparent;}
.search_result{ line-height:30px;}
.search_result li{ background:url(../img/line_1.png) bottom repeat-x; height:30px}
.search_result a{ float:left; color:#606060}
.search_result span{ float:right}
.article_title h3{ font-size:16px; font-weight:bold; text-align:center; line-height:50px}
.date{ text-align:center; height:30px; line-height:30px; border-bottom:1px solid #ccc; border-top:1px solid #ccc; background:#FFF}
.zhenw{ line-height:30px; padding:20px; min-height:400px; _height:400px}
.xgyd{ line-height:20px;  background:url(../img/line_1.png) repeat-x top;}
.xgyd dt{ font-size:14px; font-weight:bold; padding:5px 0}
.xgyd dd{ padding-left:20px}
.xgyd a{ color:#606060; margin-right:20px}
.ul3 li{ padding-left:25px; background:url(../img/stop.gif) left center no-repeat; line-height:30px}


/* CSS Document */

.banner2{  float:left;width:248px; height:198px; background:#F49011; border:1px solid #F0770B; position:relative}
.banner2 .img_tabs{ position:absolute; right:10px ; bottom:10px}
.banner2  .banner_img{ height:192px; padding:3px; overflow:hidden; position:relative;}
.banner2  .banner_img div{position:absolute}
.banner2  .banner_img img{ height:192px; width:242px}


.banner { height:163px}
.banner .img_tabs{ width:171px; float:left; height:161px; padding-top:1px}
.banner .img_tabs a{ display:block; height:33px; margin-top:-1px; background: url(../img/tb2.png) no-repeat; color:#606060; line-height:32px; padding-left:10px}
.banner .img_tabs a.current { background: url(../img/tb2.png)  bottom no-repeat; color:#FA2A01; font-weight:bold} 	
.banner .banner_img{ width:523px; float:right; position:relative;height:155px; overflow:hidden; background:#F49011; border:1px solid #F0770B; padding:2px}
.banner .banner_img div{ position:absolute }
.banner .banner_img img{ height:155px; width:523px}
.toutiao{ float:right; height:158px; width:388px; background:url(../img/main_login_bg.png) repeat-x; border:1px solid #d8d8d8; padding:20px}
.toutiao h2{ color:#FA2A01; font-size:16px; font-weight:bold; text-align:center}
.tou1 a div{ line-height:20px; color:#606060; text-indent:2em; padding-top:10px}
.tou1 a:hover{ text-decoration:none}
.tou1{ background:url(../img/line_1.png) bottom repeat-x; padding-bottom:10px:_padding-bottom:0}
.toutiao li{ float:left; width:50%; line-height:20px}
.toutiao ul{ margin-top:10px}
.toutiao a{ color:#606060}
.tuwen{ width:650px; height:150px}

.listbox4{ width:315px; margin-top:15px; float:left;}
.listbox4 .title span,.tuwen .title span{ float:right; margin-top:10px}
.listbox4 li a{ float:left; width:200px;overflow:hidden;text-overflow:ellipsis; -o-text-overflow:ellipsis;white-space:nowrap; display:block;-moz-binding:url('../mozilla/ellipsis.xml#ellipsis'); line-height:20px; height:20px; width:210px}
.listbox4 li span{ float:right;}
.listbox4 a{ color:#606060}
.listbox4 ul{border:1px solid #d4d4d4; border-top:1px solid #FFF; padding:10px; line-height:20px; overflow:auto; height:160px}
.listbox4 ul li{ background:url(../img/ul1_ico.png) left center no-repeat; padding-left:10px}
.tuwen .title,.listbox4 .title{ height:28px; background:url(../img/listbox4.png) repeat-x; border:1px solid #d4d4d4; padding:0 5px}
.tuwen .title h2,.listbox4 .title h2{ line-height:28px; font-size:14px; font-weight:bold; float:left; background:url(../img/ico.gif) left -60px no-repeat; padding-left:15px}
.tuwen ul{ border:1px solid #d4d4d4; border-top:1px solid #FFF; float:left; width:645px; padding-left:3px; padding-bottom:10px}
.tuwen ul li{ float:left; width:140px; border:1px solid #d4d4d4; padding:4px; height:90px; margin:5px; display:inline}
.tuwen ul img{ height:60px; width:120px; margin-bottom:8px}
.tuwen ul a{ text-align:center; display:block; padding-top:5px; color:#FA2A01}

.image_text_list li{ border-bottom:1px solid #d4d4d4; padding:10px 0}
.image_text_list .img{ float:left; border:1px solid #d4d4d4; background:#FFF; padding:3px; margin-right:15px}
.image_text_list  img{ display:block; height:60px; width:120px}
.image_text_list a{ line-height:20px; color:#606060}
.image_text_list p{ color:#AAA;}
.image_text_list .h{ font-size:14px; font-weight:bold; color:#EA4700;}
